<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h2>Editing Pin</h2>
    </div>
  </div>

   <%= render 'form' %>

  <div class="panel-footer">
	<%= link_to 'Show', @pin %> |
	<%= link_to 'Back', pins_path %>
  </div>
</div>
